/* body { */

/*     background-color: #eee; */

/* } */

/* .form-control { */

/*     height: 35px; */

/* } */

.form-horizontal {
    margin-top: 10px;
    padding: 30px 20px 10px 15px;
    border: 1px solid #ccc;
}
.box-css2 {
    margin-top: 10px;
    padding: 30px 20px 10px 15px;
    border: 1px solid #ccc;
}
.border-light {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
h1 {
    text-align: center;
}
.form-group {
    margin-top: 10px;
}
a:hover {
    text-decoration: none;
}
.cell {
    line-height: 30px;
}
/**
 * Helper CSS 
 **/

.no-margin {
    margin: 0px;
}
.text-right {
    text-align: right;
    vertical-align: middle;
}
.no-margin-bot {
    margin-bottom: 0px;
}
.vert {
    vertical-align: middle;
}
